@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.logo-first {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  color: #22e9e9;
  font-weight: 600;
}
